<!DOCTYPE html>
<html>

<head>
    {% block head %}

{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Filmová databáze</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if current_user.is_authenticated %}
  <a class="navbar-brand" href="{{ url_for('home') }}">Filmová databáze uživatele <span style="color:#5DADE2">{{current_user.name}}</span></a>
    {% else %}
    <a class="navbar-brand" href="{{ url_for('home') }}">Filmová databáze</a>
    {% endif %}
    <a class="navbar-brand" href="{{ url_for('home') }}">Statistiky</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
        {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
      </li>
        {% endif %}
        {% if current_user.is_authenticated %}
<li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
      </li>
        {% endif %}
    </ul>


  </div>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
<div style="text-align:center;"><p><h3 style="color: red">{{ message }}</h3></p></div>
        {% endfor %}
    {% endif %}
{% endwith %}

       {% block content %}
       {% endblock %}


</body>

</html>